{%  extends 'base.html' %}

{% block content %}
   <br>
<div class="container">
    <div class="row">
        <div class="col"><img src="{{ products.images.url }}" alt="{{ products.product_name }}" class="img-thumbnail"></div>
        <div class="col">
            <div class="row">{{ products.product_name }}</div>
            <div class="row">{{ products.category }}</div>
            <div class="row">{{ products.price }}</div>
            <div class="row">{{ products.stock }}</div>
            <div class="row">{{ products.description }}</div>
        </div>
    </div>
</div>


<!-- product_detail.html -->
<form method="POST" action="{% url 'add_to_cart' products.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input  type="hidden" name="products_id" value="{{ products.id }}">
    <button type="submit">Add to Cart</button>
</form>







{% endblock %}

